<ion-view view-title="今日天气" hide-nav-bar="true">

  <ion-header-bar class="bar-calm" align-title="center">
    <button class="button button-icon icon ion-ios-arrow-back position" ng-click="goBack();"></button>
    <div class="title font-size">查询城市</div>
  </ion-header-bar>
  <ion-content>

    <ion-list>
      <ion-item ng-show="!chooseCityName" ng-repeat="list in secondCity track by $index" ng-click="selectCity(list.cityZh)" style="padding-left: 10px !important;">
        <div class="col">{{list.cityZh}}</div>
      </ion-item>

      <ion-item ng-show="chooseCityName" ng-repeat="list in secondCity track by $index" ng-click="addCityUrl(list.cityZh)" style="padding-left: 10px !important;">
        <div class="col">{{list.cityZh}}</div>
      </ion-item>
    </ion-list>

  </ion-content>


</ion-view>

