<ion-modal-view>
  <ion-header-bar class="bar-calm" align-title="center">
    <div class="title">使用小帮助</div>
    <button class="button button-clear button-primary" ng-click="modal1.hide()">退出</button>
  </ion-header-bar>
  <ion-content>

    <ion-item class="ionItem">
      <div class="row" style="white-space: normal;font-size: 15px;">
        <div class="col-10" style="text-align: right">1、</div>
        <div class="col-90">在信任该应用的前提下，定位功能方可使用，若未信任，可在设置app权限中信任该应用。</div>
      </div>

      <div class="row" style="white-space: normal;font-size: 15px;">
        <div class="col-10" style="text-align: right">2、</div>
        <div class="col-90">分享功能是能分享url，因url未注册过，所以不能通过url进行访问分享的内容。</div>
      </div>

      <div class="row" style="padding-top: 5px;white-space: normal;font-size: 15px;">
        <div class="col-10" style="text-align: right">3、</div>
        <div class="col-90">语音播报功能是在查询的城市存在的情况下，方可播报该城市的天气信息。</div>
      </div>

      <div class="row" style="padding-top: 5px;white-space: normal;font-size: 15px;">
        <div class="col-10" style="text-align: right">4、</div>
        <div class="col-90">个性颜色只在当前app进程未被杀死的情况下有效。</div>
      </div>
    </ion-item>

  </ion-content>
</ion-modal-view>
